<?xml version="1.0" encoding="utf-8"?>

<module>
  <assemblies>
    <add assembly="LangBranch" />
  </assemblies>
  <clientResources>
    <add name="epi-cms.widgets.base" path="Styles/Styles.css" resourceType="Style" />
    <!--<add dependency="epi-cms.widgets.base" path="ClientResources/Scripts/sample.js" resourceType="Script" />-->
  </clientResources>

  <clientModule initializer="alloy.sample">
    <!--<moduleDependencies>
      <add dependency="CMS" type="Require" />
    </moduleDependencies>-->
  </clientModule>

  <dojo>
    <paths>
      <add name="alloy" path="Scripts" />
    </paths>
  </dojo>

</module>
